* {
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-color: rgb(27, 33, 43);
    font-family: 'Spartan', sans-serif;
}

header {
    height: 20%;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-image: url('./resources/crumpled-paper-vector.jpg'); 
}

.round {
    font-size: 30px;
    font-weight: bold;
    color: rgb(27, 33, 43);
}

#round-count {
    margin-left: 10px;
    color: rgb(255,100,50);
}

.playarea {
    width: 100%;
    height: 80%;
    position: absolute;
    top: 10%;
    display: flex;
}

.banner-area{
    position: absolute;
    height: 110px;
    width: 200px;
    top: 25%;
    left: 43%;
    border: 5px solid white;
    border-radius: 8px;
    padding: 12px 4px;
    text-align: center;
}

#banner {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

.player-area {
    height: 70%;
    width: 17%;
    position: absolute;
    top: 25%;
    left: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.comp-area {
    height: 70%;
    width: 17%;
    position: absolute;
    top: 25%;
    left: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.player-scoreboard {
    height: 110px;
    width: 200px;
    border: 5px solid white;
    border-radius: 8px;
    padding: 12px 4px;
    text-align: center;
}

.comp-scoreboard {
    height: 110px;
    width: 200px;
    border: 5px solid white;
    border-radius: 8px;
    padding: 12px 4px;
    text-align: center;
}

#player-tag, #comp-tag {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
}

#player-score, #comp-score {
    color: rgb(255,100,50);
    font-size: 30px;
    font-weight: bold;
}


.player-rps-icons {
    display: flex;
    flex-direction: column;
    
} 

.comp-rps-icons {
    display: flex;
    flex-direction: column;
    transform: scaleX(-1);
}

#rock-hand, #paper-hand, #scissors-hand {
    height: 120px;
    width: 120px;
    padding-top: 12px;
    transition: 4s ease-out;
}

#comp-rock-hand, #comp-paper-hand, #comp-scissors-hand {
    height: 120px;
    width: 120px;
    padding-top: 12px;
    transition: 4s ease-out;
}

footer {
    height: 2%;
    width: 50%;
    top: 97%;
    left: 25%;
    position: absolute;
    text-align: center;
}
.footnote{
    color: rgb(255, 255, 255);
    font-size: 10px;
    font-weight: thin;
}

#developer {
    color: rgb(255,100,50);
    font-size: 16px;
    font-weight: thin;
    margin-left: 2px;
}